@use './font' as *;
@use './mediaQuery' as *;

#debug{
    .margin{
        // background-color: tomato;
        width: 100%;
        padding: 0 80px;

        @include dynamic_display(768px, 1024px){
            padding: 0 32px;
        }

        @include dynamic_display(481px, 767px){
            padding: 0 24px;
        }
        
        @include dynamic_display(340px, 480px){
            padding: 0 16px;
        }
    }
}

#debug{
    box-sizing: border-box;
    // height: 100dvh;
    // margin: 0px 19px 0px 19px;
    background-color: rgb(196, 196, 196, 0.5);
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #comment{
        @include heading1-1919
    }
}
