@use '../font' as *;

#debug{
    height: 100dvh;
    background-color: tomato;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #comment{
        @include heading1-1919
    }
}
