@use '../../font' as *;
@use '../../mediaQuery' as *;

#debug{
    background-color: #3C3C3C;
    width: 100%;
    min-height: 664px;
    display: flex;
    flex-direction: column;    
    border-radius: var(--radius-size);
    
    #container{
        display: flex;
        width: 100%;
        // justify-content: space-between;

    #layout{        
        display: flex;
        width: 100%;
        align-items: center;
        #show{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 64px;
            height: 456px;
            @include dynamic_display(768px, 1024px){
                margin-left: 24px;
            }
            #group{
                #title{
                    @include heading1-max;
                    // background-color: rgb(225, 209, 65);
                    margin-bottom: 24px;
                }
                #content{
                    @include body-md-max;
                    height: 206px;
                    // background-color: royalblue;
                    // margin-bottom: 88px;
                    // margin-right: 640px;
                }

                #inner{
                    display: flex;
                }
            }

                button{
                    @include btn-txt-max;
                    display: flex;
                    justify-content: center;
                    width: 320px;
                    background-color: #D68121;
                    padding: 15px 0px;
                    border-radius: var(--radius-size);
                }
                
                @include dynamic_display(1440px, 1919px){
                    #group{
                        #title{@include heading1-1919 }
                        #content{@include body-md-1919}
                    }
                    button{ @include btn-txt-1919}
                }
                @include dynamic_display(1025px, 1439px){
                    #group{
                        #title{@include heading1-1439 }
                        #content{@include body-md-1439}
                    }
                    button{ @include btn-txt-1439}
                }
                @include dynamic_display(768px, 1024px){
                    #group{
                        #title{@include heading1-1024 }
                        #content{@include body-sm-1024}
                    }
                    button{ @include btn-txt-1024}
                }
                @include dynamic_display(481px, 767px){
                    #group{
                        #title{
                        @include heading1-767;
                        margin-bottom: 24px; 
                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center
                        }
                        }
                        #content{
                            @include body-md-767;
                            // background-color: aqua;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            margin-bottom:0px;
                            margin-right: 0px;
                        }

                        #inner{
                            background-color: #D9D9D9;
                            padding: 200px;
                            display: flex;
                        }    
                    }
                    button{ 
                        @include btn-txt-767;
                        width: 100%;
                        padding: 17px auto;
                    }
                }
                @include dynamic_display(360px, 480px){
                    #group{
                        #title{
                            @include heading1-480;
                            margin-bottom: 24px; 
                            div{
                                display: flex;
                                justify-content: center;
                                align-items: center
                            }
                        }
                        #content{
                            @include body-md-480;
                            display: flex;
                            height: 105px;
                            align-items: center;
                            text-align: center;
                            margin-bottom:0px;
                            margin-right: 0px;
                        }
                        button{ @include btn-txt-480}}
                }

                
                // 481px ~ 767px degree
                @include dynamic_display(481px, 767px){
                    // background-color: lemonchiffon;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // justify-content: center;
                    margin-left: 0px;
                    padding: 32px 32px 16px 32px;

                    margin-top: 0px;
                    margin-bottom:0px;
                }
                
                @include dynamic_display(360px, 480px){
                    // background-color: lemonchiffon;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // justify-content: center;
                    margin-left: 0px;
                    padding: 32px 32px 16px 32px;

                    margin-top: 0px;
                    margin-bottom:0px;
                }
            }
        }
        // 481px ~ 767px degree
        @include dynamic_display(481px, 767px){
            // background-color: lemonchiffon;
            display: flex;
            justify-content: center;
            flex-direction: column;
            // align-items: center;
            // justify-content: center;
            // margin-left: 0px;
            // padding: 32px 32px 16px 32px;

            margin-top: 0px;
            margin-bottom:0px;
        }
        #outer{
            background-color: #D9D9D9;
            opacity: 50%;
            min-height: 664px;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: flex-end;
            // padding: 0px 10.94%;
            // 5.94%
            border-top-right-radius: var(--radius-size);
            border-bottom-right-radius: var(--radius-size);

            #outerimage{
                box-sizing: border-box;
                display: flex;
                background-color: #C52E2E;
                width: 360px;
                height: 519px;
                // margin: 0px 21.11%;

            }
            
            // 481px ~ 767px degree
            @include dynamic_display(481px, 767px){
                all: unset;
                #outerimage{
                    all: unset;
                }
            }
            @include dynamic_display(360px, 480px){
                all: unset;
                #outerimage{
                    all: unset;
                }
            }

        }
    }
}