@use '../../font' as *;
@use '../../mediaQuery' as *;

#debug, #container, #layout, #show, #outer, #outerimage{
    display: flex;
}

#debug{
    // background-color: #3C3C3C;
    width: 100%;
    min-height: 664px;
    flex-direction: column;    
    border-radius: var(--radius-size);
    #background{
        position: absolute;
        z-index: 0;
        left: 50%; 
        transform: translate(-50%);
    }
    #container{
        position: relative;
        width: 100%;
        // justify-content: space-between;
        // 481px ~ 767px degree
        @include dynamic_display(481px, 767px){
            height: 664px;
            max-height: 664px;
        }
        @include dynamic_display(340px, 480px){
            height: 664px;
            max-height: 664px;
        }
        #layout{
            width: 100%;
            align-items: center;
            #show{
                width: 100%;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 64px;
                height: 456px;

                @include dynamic_display(1025px, 1439px){
                    margin-left: 24px;
                }
                @include dynamic_display(768px, 1024px){
                    margin-left: 24px;
                }
                @include dynamic_display(481px, 767px){
                    // background-color: lemonchiffon;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    // justify-content: center;
                    margin-left: 0px;
                    padding: 32px 32px 16px 32px;

                    margin-top: 0px;
                    margin-bottom:0px;
                }
                
                @include dynamic_display(340px, 480px){
                    // background-color: lemonchiffon;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    // justify-content: center;
                    margin-left: 0px;
                    padding: 32px 32px 16px 32px;

                    margin-top: 0px;
                    margin-bottom:0px;
                }
                #group{
                    #title{
                        @include heading1-max;
                        // background-color: rgb(225, 209, 65);
                        margin-bottom: 24px;
                    }
                    #content{
                        @include body-md-max;
                        height: 206px;
                        // background-color: royalblue;
                        // margin-bottom: 88px;
                        // margin-right: 640px;
                    }

                    #inner{
                    }
                    @include dynamic_display(1440px, 1919px){
                        #title{@include heading1-1919 }
                        #content{@include body-md-1919}
                    }
                    @include dynamic_display(1025px, 1439px){
                        #title{@include heading1-1024 }
                        #content{@include body-md-1439}
                    }
                    @include dynamic_display(768px, 1024px){
                        #title{@include heading1-1024 }
                        #content{@include body-md-1024}
                    }
                    @include dynamic_display(481px, 767px){
                        #title{
                        @include heading1-767;
                        margin-bottom: 24px; 
                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center
                        }
                        }
                        #content{
                            @include body-md-767;
                            // background-color: aqua;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            margin-bottom:0px;
                            margin-right: 0px;
                        }

                        #inner{
                            background-color: #D9D9D9;
                            padding: 200px;
                            display: flex;
                        }    
                    }
                    @include dynamic_display(340px, 480px){
                        #title{
                            @include heading1-480;
                            margin-bottom: 24px; 
                            div{
                                display: flex;
                                justify-content: center;
                                align-items: center
                            }
                        }
                        #content{
                            @include body-md-480;
                            display: flex;
                            align-items: flex-start;
                            // height: 105px;
                            // align-items: center;
                            text-align: center;
                            margin-bottom:0px;
                            margin-right: 0px;
                        }
                    }

                }
                button{
                    @include btn-txt-max;
                    align-items: center;
                    justify-content: center;
                    width: 320px;
                    background-color: var(--dark-btn-default);
                    padding: 15px 0px;
                    border-radius: var(--radius-size);

                    @include dynamic_display(1440px, 1919px){
                        @include btn-txt-1919
                    }
                    @include dynamic_display(1025px, 1439px){
                        @include btn-txt-1439
                    }
                    @include dynamic_display(768px, 1024px){
                        @include btn-txt-1024
                    }
                    @include dynamic_display(481px, 767px){
                        @include btn-txt-767;
                        width: 100%;
                        padding: 17px auto;
                    }
                    @include dynamic_display(360px, 480px){
                        @include btn-txt-480
                    }
                    // for z fold5
                    @include dynamic_display(340px, 359px){
                        width: 252px;
                    }
                }
            }
        }
        
        #outer{
            // background-color: #D9D9D9;
            // opacity: 50%;
            min-height: 664px;
            width: 100%;
            justify-content: center;
            align-items: flex-end;
            border-top-right-radius: var(--radius-size);
            border-bottom-right-radius: var(--radius-size);

            @include dynamic_display(481px, 767px){
                all: unset;
            }
            @include dynamic_display(340px, 480px){
                all: unset;
            }

            #outerimage{
                box-sizing: border-box;
                background-color: #C52E2E;
                width: 360px;
                height: 519px;
                // margin: 0px 21.11%;
                @include dynamic_display(481px, 767px){
                    all: unset;
                }
                @include dynamic_display(340px, 480px){
                    all: unset;
                }
            }
        }
    }
}