@use '../../font' as *;
@use '../../mediaQuery' as *;

#debug, #effect, #aboutFrame, #group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#debug, button{
    border-radius: var(--radius-size);
}

#group, #layout{
    padding: 0 24px 20px 24px;
}

#debug{
    background-color: tomato;
    width: 100%;
    height: 570px;
    max-width: 456px;
    max-height: 570px;
    min-width: 256px;
    // min-height: 320px;

    @include dynamic_display(1025px, 1439px){
        // width: 400px;
        height: 500px;
    }
    @include dynamic_display(768px, 1024px){
        // width: 328px;
        height: 410px;
    }
    @include dynamic_display(481px, 767px){
        // width: 288px;
        height: 360px;
    }
    @include dynamic_display(340px, 480px){
        // width: 256px;
        height: 320px;
    }

    #aboutFrame{
        width: 100%;
        height: 100%;
        justify-content: space-between;
        #group{
            width: 100%;
            background: linear-gradient(
            to bottom,
            rgba(10, 10, 10, 0.85),
            rgba(10, 10, 10, 0)
            );
            border-top-left-radius: var(--radius-size);
            border-top-right-radius: var(--radius-size);

            #title{
                @include body-lg-max;
                margin-top: 20px;
                @include dynamic_display(1449px, 1919px){
                    @include body-lg-1919;
                }
                @include dynamic_display(1025px, 1439px){
                    @include body-lg-1439;
                }
                @include dynamic_display(768px, 1024px){
                    @include body-lg-1024;
                }
                @include dynamic_display(481px, 767px){
                    @include body-lg-767;
                }
                @include dynamic_display(340px, 480px){
                    @include body-lg-480;
                }
            }
            #description{
                @include body-sm-max;
                margin-top: 16px;
                @include dynamic_display(1449px, 1919px){
                    @include body-sm-1919;
                }
                @include dynamic_display(1025px, 1439px){
                    @include body-sm-1439;
                }
                @include dynamic_display(768px, 1024px){
                    @include body-sm-1024;
                }
                @include dynamic_display(481px, 767px){
                    @include body-sm-767;
                }
                @include dynamic_display(340px, 480px){
                    @include body-sm-480;
                }
            }
        }
        #layout{
            width: 100%;
            button{
                background-color: var(--dark-btn-default);
                @include btn-txt-max;
                width: 100%;
                padding: 16px 0;
                @include dynamic_display(1449px, 1919px){
                    @include btn-txt-1919;
                }
                @include dynamic_display(1025px, 1439px){
                    @include btn-txt-1439;
                }
                @include dynamic_display(768px, 1024px){
                    @include btn-txt-1024;
                }
                @include dynamic_display(481px, 767px){
                    @include btn-txt-767;
                }
                @include dynamic_display(340px, 480px){
                    @include btn-txt-480;
                }
            }
        }
    }
}