@use '../../font' as *;
@use '../../mediaQuery' as *;

#debug{
    background-color: aqua;
    width: 100%;
    max-width: 628px;

    #image{
        #container{
            #property{
                #description{

                }
            }
        }
    }
}