:root {
  --standard-font-size : 16px;
  // color
  // --primary-color: #97EB0D;
  // --black-color : #1B1B1B;
  // --black-shadow1-color : #00000033;
  // --black-shadow2-color : #00000024;
  // --gray5-color : #3D3D3D;
  // --gray4-color : #636363;
  // --gray3-color : #A1A1A1;
  // --gray2-color : #D6D6D6;
  // --gray1-color : #F1F1F1;
  // --white-color : #FFFFFF;
  // --negative-error-cancel : #FC5959;
  // --positive-success : #61C987;

  // font-styles
  --font-style: 'Pretendard', sans-serif;
  --letter-spacing: 0em; /* letter-spacing */
  
  // line-hight
  --line-hight-125: 125%; 
  --line-hight-150: 150%; 
  --line-hight-100: 100%; 

  // font-weight
  --font-weight-bold: 700; /* Bold */
  --font-weight-medium: 500; /* Medium */

  // font-size

  /** 480px*/
  --heading1-480-26: 26px;
  --heading2-480-14: 14px;
  --heading-sub-480-12: 12px;
  --body-lg-480-20: 20px;
  --body-md-480-14: 14px;
  --body-sm-480-12: 12px;
  --btn-text-480-14: 14px;
  --btn-link-480-12: 12px;
  
  /** 767px*/
  --heading1-767-28: 28px;
  --heading2-767-16: 16px;
  --heading-sub-767-14: 14px;
  --body-lg-767-22: 22px;
  --body-md-767-16: 16px;
  --body-sm-767-14: 14px;
  --btn-text-767-16: 16px;
  --btn-link-767-14: 14px;

  /** 1024px*/
  --heading1-1024-36: 36px;
  --heading2-1024-20: 20px;
  --heading-sub-1024-16: 16px;
  --body-lg-1024-32: 32px;
  --body-md-1024-18: 18px;
  --body-sm-1024-16: 16px;
  --btn-text-1024-16: 16px;
  --btn-link-1024-18: 18px;

  /** 1439px*/
  --heading1-1439-44: 44px;
  --heading2-1439-20: 20px;
  --heading-sub-1439-16: 16px;
  --body-lg-1439-36: 36px;
  --body-md-1439-18: 18px;
  --body-sm-1439-16: 16px;
  --btn-text-1439-18: 18px;
  --btn-link-1439-18: 18px;

  /** 1919px*/
  --heading1-1919-52: 52px;
  --heading2-1919-20: 20px;
  --heading-sub-1919-16: 16px;
  --body-lg-1919-36: 36px;
  --body-md-1919-18: 18px;
  --body-sm-1919-16: 16px;
  --btn-text-1919-18: 18px;
  --btn-link-1919-18: 18px;

  /** max*/
  --heading1-max-52: 52px;
  --heading2-max-22: 22px;
  --heading-sub-max-18: 18px;
  --body-lg-max-38: 38px;
  --body-md-max-20: 20px;
  --body-sm-max-18: 18px;
  --btn-text-max-20: 20px;
  --btn-link-max-20: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input {
  outline: none;
  border: none;
  background: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  font-family: var(--font-style);
  line-height: 125%;
  letter-spacing: var(--letter-spacing);
  background-color: #f9f9f9;
  width: 100%;
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
  // padding: 0 40px;
}

@media (min-width: 1025px) and (max-width: 1439px) {
  body {
    max-width: 1025px;
  }
}